/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F4F5; /* Fondo gris super claro */
    color: #0D0D0D; /* Texto oscuro */
    padding-bottom: 60px; /* Espacio para la barra de navegación inferior */
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px;
    background-color: transparent;
}

/* Contenedor principal */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 100vh;
}

/* Estilos del contenedor de la tarjeta */
.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

/* Estilos de la tarjeta */
.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 600px;
    max-width: 90%;
    transition: transform 0.2s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.description {
    padding: 20px;
    text-align: center;
    color: #4CAF50;
}

.description h2 {
    margin-bottom: 10px;
}

.description p {
    margin: 0;
}

/* Contenedor de gráficas y tablas */
.chart-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.chart {
    flex: 1;
    margin: 10px;
}

.description-article {
    flex: 1;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de la gráfica */
canvas {
    width: 100% !important;
    height: auto !important;
}

/* Contenedor del formulario de inicio de sesión */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.login-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-card-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #4CAF50;
}

.login-card-body {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #0D0D0D;
}

/* Estilos de los inputs del formulario */
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #A5D6A7;
    border-radius: 5px;
    background-color: #F2EFDF;
    color: #4CAF50;
}

.form-input:focus {
    outline: none;
    border-color: #388E3C;
}

/* Botón de enviar */
.btn-submit {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-submit:hover {
    background-color: #388E3C;
}

/* Contenedor del logo */
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

/* Barra de navegación inferior */
nav.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #4CAF50;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon:hover {
    background-color: #388E3C;
    color: #FFFFFF;
    transform: scale(1.1);
}

/* Menú de búsqueda */
.search-menu {
    display: none;
    position: fixed;
    bottom: 70px;
    left: 5%;
    right: 5%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0.9;
}

.search-menu .categories {
    padding: 30px;
    text-align: center;
}

.search-menu .categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-menu .categories ul li {
    margin-bottom: 10px;
}

.search-menu .categories ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
    transition: color 0.3s;
}

.search-menu .categories ul li a:hover {
    color: #F20519;
}

/* Contenedor de la tabla con borde redondeado */
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px; /* Bordes redondeados solo para el exterior */
    overflow: hidden; /* Oculta cualquier desbordamiento en las esquinas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Encabezado de la tabla */
thead {
    background-color: #669868; /* Verde pastel oscuro */
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #BFD1C9; /* Bordes solo en la parte inferior de cada celda */
}

/* Filas de la tabla */
tbody tr:hover {
    background-color: #F0F4F7;
}

/* Colores de fondo alternos */
tbody tr:nth-child(even) {
    background-color: #F9FAFB;
}

/* Botones de acción */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.btn-primary {
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #388E3C;
}

.btn-danger {
    background-color: #E57373;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #D32F2F;
}

/* Estilos de barra de búsqueda y otros elementos */
.dataTables_filter input {
    width: 200px;
    padding: 8px;
    border: 1px solid #A5D6A7;
    border-radius: 5px;
    background-color: #F2EFDF;
    color: #4CAF50;
    margin-bottom: 10px;
}

.dataTables_length select,
.dataTables_paginate a {
    border: 1px solid #A5D6A7;
    border-radius: 5px;
    padding: 5px;
    margin: 0 3px;
    color: #388E3C;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
}

.dataTables_paginate a:hover,
.dataTables_paginate .current {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.dataTables_wrapper .dataTables_info {
    margin-top: 10px;
    color: #4CAF50;
}

/* Sombra para toda la tabla */
.table-wrapper {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
    }

    .chart, .description-article {
        width: 100%;
        margin: 0;
    }
}







