/* Estilos principales de la aplicación */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Fira+Sans+Condensed:wght@400;500&family=Amiko:wght@400;600&display=swap');

:root {
    /* Colores principales */
    --primary-color: #007566;  /* Verde principal */
    --secondary-color: #589A8D;  /* Verde claro */
    --accent-color: #8FC1B5;  /* Verde suave para detalles */
    --background-color: #F2F4F5;  /* Gris claro de fondo */
    --text-color: #0D0D0D;  /* Texto principal oscuro */
    
    /* Colores complementarios */
    --highlight-color: #265C4B;  /* Verde oscuro para hovers o resaltar */
    --light-gray: #bcbcbc;  /* Gris claro para fondos */
    --dark-gray: #3B4013;  /* Gris oscuro para títulos */
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F4F5;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal que ocupa el espacio restante */
 main { 
    flex: 1;
 }

/* Encabezado */
header {
    font-family: 'Habibi', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: var(--primary-color);
}

h1 {
    font-size: 3rem; 
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

h2{
    color: #3B4013;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

p {
    font-family: 'Amiko', sans-serif;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

/*Estilos formularios*/
.formulario{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.formulario .formulario-grupo{
    margin-bottom: 15px;
}

.formulario .formulario-grupo .formulario-label{
    color: #0D0D0D;
}

.formulario .formulario-grupo .formulario-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #BFD1C9;
    border-radius: 5px;
    background-color: #F2EFDF;
}

.formulario .formulario-grupo .formulario-descripcion{
    width: 100%;
    padding: 10px;
    border: 1px solid #BFD1C9;
    border-radius: 5px;
    background-color: #F2EFDF;
}

.boton-enviar{
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.boton-eliminar{
    background-color: #af4c4c;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

/*Estilos para el logo*/
.logo-container{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo {
    width: 150px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

/*Estilos para tablas*/
.tabla-gastos{
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado de la tabla */
thead {
    background-color: var(--primary-color); /* Verde pastel oscuro */
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #BFD1C9; /* Bordes solo en la parte inferior de cada celda */
}

/* Filas de la tabla */
tbody tr:hover {
    background-color: #F0F4F7;
}

/* Colores de fondo alternos */
tbody tr:nth-child(even) {
    background-color: #e6e7e8;
}