/*Estilos para el modal de confirmación al eliminar */
#contenedor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

#contenedor-modal.active {
    opacity: 1;
    visibility: visible;
}

#modal-confirmation {
    background: #fff;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-header h3 {
    margin: 0;
    color: #BF5F56;
    font-weight: normal;
}

#modal-buttons {
    margin-top: 15px;
}

.modal-button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#modal-button-yes {
    background: #BF5F56;
    color: #fff;
    border: none;
    margin-left: 10px;
}
#modal-button-no {
    background: #ccc;
    border: none;
}


/*Estilos modal tutorial primeros pasos*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: none; /* Inicialmente está oculto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-overlay.active {
    display: flex; /* Mostrar cuando se activa */
}


.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
}

.boton-siguiente, .boton-anterior, #finalizar-tutorial {
    margin: 10px 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.boton-siguiente {
    background-color: #4CAF50;
}

.boton-anterior {
    background-color: #888;
}

#finalizar-tutorial {
    background-color: #f44336;
}
