/* Estilos para el modo oscuro */
body.dark {
    background-color: #050b0d; /* Fondo principal */
    color: #f0f2f2; /* Texto principal */
}

body.dark h1,
body.dark h2 {
    color: #f0f2f2; /* Encabezados */
}

body.dark .navbar {
    background-color: #050b0d; /* Fondo de la barra de navegación */
    color: #f0f2f2; /* Texto de la barra de navegación */
    border-bottom: 1px solid #0d2626; /* Línea inferior */
}

body.dark .gasto-row {
    background-color: #5f7373; /* Fondo de las filas */
    border-radius: 10px;
    margin-bottom: 10px; /* Espaciado entre filas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    color: #f0f2f2; /* Texto de las filas */
}

body.dark .gasto-row:nth-child(even) {
    background-color: #0d2626; /* Color alternado para las filas pares */
}

body.dark p,
body.dark li,
body.dark a {
    color: #a1a5a6; /* Texto general y enlaces */
}

body.dark a:hover {
    color: #f0f2f2; /* Enlaces al pasar el mouse */
    text-decoration: underline;
}

body.dark .formulario {
    background-color: #5f7373; /* Fondo del formulario */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
}

body.dark .formulario label {
    color: #f0f2f2; /* Texto de etiquetas en el formulario */
}

body.dark .formulario input,
body.dark .formulario textarea,
body.dark .formulario select {
    background-color: #0d2626; /* Campos de entrada */
    color: black; /* Texto en los campos */
    border: 1px solid #5f7373; /* Borde de los campos */
    border-radius: 5px;
    padding: 8px;
}

body.dark .formulario input:focus,
body.dark .formulario textarea:focus,
body.dark .formulario select:focus {
    border-color: #f0f2f2; /* Borde al enfocar */
    outline: none;
}

body.dark .btn {
    background-color: transparent; /* Fondo del botón */
    color: #f0f2f2; /* Texto del botón */
    border: 1px solid #5f7373; /* Borde del botón */
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .btn:hover {
    background-color: #5f7373; /* Fondo al pasar el mouse */
    color: #050b0d; /* Texto al pasar el mouse */
}

body.dark .saldo-mensaje {
    background-color: #0d2626; /* Fondo del mensaje */
    color: #f0f2f2; /* Texto del mensaje */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

body.dark .modal-overlay {
    background-color: rgba(
        5,
        11,
        13,
        0.8
    ); /* Fondo del modal semi-transparente */
    color: #f0f2f2; /* Texto del modal */
}

body.dark .modal-content {
    background-color: #0d2626; /* Fondo del contenido del modal */
    border-radius: 10px;
    padding: 20px;
    color: #f0f2f2; /* Texto dentro del modal */
}

body.dark .tarjeta-gastos {
    background-color: #5f7373;
}

body.dark .tarjeta-gastos .gasto-row {
    background-color: #f0f2f2;
    color: #050b0d;
}

body.dark div.grafica {
    background-color: #5f7373;
    color: #f0f2f2;
}

body.dark .export-button {
    color: #f0f2f2;
    background-color: #0d2626;
}

body.dark .contenedor-create,
body.dark .perfil-formulario,
body.dark .contenedor-configuracion,
body.dark .contenedor-generar,
body.dark .contenedor-editar {
    background-color: #050b0d;
}

body.dark input.input-porcentaje {
    color: #f0f2f2;
}

body.dark .paginacion {
    text-align: center;
    margin-top: 20px; /* Añade margen para que no esté pegado a la tabla*/
}

body.dark .paginacion .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
}

body.dark .paginacion .page-item {
    list-style: none;
}

body.dark .paginacion .page-item .page-link {
    background-color: #f0f0f0; /* Fondo claro */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 4px;
    color: #333; /* Texto negro */
    padding: 8px 12px; /* Tamaño del botón */
    text-decoration: none;
    font-size: 0.875rem; /* Tamaño del texto */
}

body.dark .paginacion .page-item .page-link:hover {
    background-color: #ddd; /* Fondo más oscuro al pasar el cursor */
    color: #000; /* Texto más oscuro */
}

body.dark .paginacion .page-item.active .page-link {
    background-color: #5f7373; /* Fondo azul para el elemento activo */
    border-color: #f0f2f2;
    color: #fff; /* Texto blanco */
}

body.dark .paginacion .page-link:hover {
    background-color: rgba(109, 139, 166, 0.7);
    transition: background-color 0.3s;
}

body.dark .boton-enviar{
    background-color: #0d2626;
}

body.dark i{
    color: #5f7373;    
}