@media (max-width: 600px) {
    .options-menu {
        width: auto; /* Ajustar el ancho */
        max-width: 300px; /* Ancho máximo */
        min-width: 200px; /* Ancho mínimo */
        right: 10px; /* Desplaza hacia la derecha */
        top: 40px;
        margin: 0;
        padding: 15px;
        background-color: #fff; /* Fondo blanco */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
        border-radius: 8px; /* Bordes redondeados */
        z-index: 10;
    }

    .options-menu ul {
        list-style: none; /* Eliminar puntos de lista */
        padding: 0;
        margin: 0;
    }

    .options-menu ul li {
        padding: 8px 12px; /* Espaciado interno */
        border-bottom: 1px solid #ddd; /* Línea inferior */
    }

    .options-menu ul li:last-child {
        border-bottom: none; /* Eliminar línea inferior del último elemento */
    }

    .options-menu ul li a,
    .options-menu ul li button {
        font-size: 16px;
        padding: 8px 12px;
        text-align: left; /* Alineación a la izquierda */
        color: #333; /* Color del texto */
        background: none; /* Fondo transparente */
        border: none; /* Sin bordes */
        width: 100%; /* Ancho completo */
        display: block; /* Mostrar como bloque */
    }

    .options-menu ul li a:hover,
    .options-menu ul li button:hover {
        background-color: #f0f0f0; /* Fondo al pasar el ratón */
    }

    .btn-container {
        position: relative;
        text-align: center;
    }

    .options-icon {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem; /* Tamaño del icono */
        color: #333; /* Color del icono */
    }

    .search-menu{
        padding: 70px;
    }

    .user-menu{
        padding: 70px;
    }

    .register-button {
        width: 70%; /* Ajusta al 90% del ancho de la pantalla */
        max-width: 100px; /* Evita que sea demasiado grande */
        margin: 0 auto; /* Centra horizontalmente */
        padding:20px 20px; /* Espaciado interno */
        font-size: 16px; /* Tamaño adecuado del texto */
        text-align: center; /* Centra el texto */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

}

@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        flex-wrap: wrap; 
        gap: 20px; 
        margin-top: 50px;
    }

    .chart, .description-article {
        width: 100%;
        margin: 0;
    }

    nav.navbar-bottom {
        flex-direction: column;
        width: 100%;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
    }

    .dashboard-container {
        padding: 20px;
        margin-top: 10px;
        overflow-y: auto;
    }
}

